{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block header %}{% endblock %}

{% block scripts %}{% endblock %}


{% block content %}
    <section class="jumbotron text-center">
        <p>
            <img src="{{ photo.url }}" width="300px">
            <br> <br>
            by {{ photo.username }}
        </p>

        <form method="post">
            <input type="text" name="photo_id" id="photo_id" value="{{ photo.id }}" hidden>
            <input type="submit" value="Delete" class="btn btn-danger">
        </form>

    </section>
{% endblock %}

{% block bottomscript %}{% endblock %}
