{% extends 'base.html' %}

{% block title %}{% endblock %}
{% block header %}

{% endblock %}
{% block content %}
    {% if g.user %}
        <div class="container">
            <div class="d-flex flex-wrap">
                {% for photo in photos %}

                    <div class="">
                        <div class="card mb-4 shadow-sm">
                            <a href="{{ url_for('album.single_photo') }}?id={{ photo.id }}"><img src="{{ photo.url }}"
                                                                                                 width="200px"></a>

                            <div class="card-body">
                                <p class="card-text">by {{ photo.username }}</p>
                                {#                                <i class="fas fa-lg fa-heart" style="color: red"></i>#}
                                <a href="#" class="like">

                                    <span id="liked_{{ photo.id }}">
                                        {% if photo.id in my_likes %}
                                            <i class="fas fa-lg fa-heart" style="color: red"></i>
                                        {% else %}
                                            <i class="far fa-lg fa-heart" style="color: red"></i>
                                        {% endif %}
                                    </span>

                                    <input type="text" id="photo_id_{{ photo.id }}" name="photo_id"
                                           value="{{ photo.id }}" class="photo_id" hidden>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <section class="jumbotron text-center">
            <div class="container">
                <h1>Wedding Album 2020</h1>
                <p class="lead text-muted">Login to send your pictures and to see the selected pictures.</p>
                <p>
                    <a href="{{ url_for('auth.login') }}" class="btn btn-primary my-2">Login</a>
                    <a href="{{ url_for('auth.register') }}" class="btn btn-secondary my-2">Register</a>
                </p>
            </div>
        </section>
    {% endif %}

{% endblock %}

{% block bottomscript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}