{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block header %}{% endblock %}

{% block scripts %}{% endblock %}


{% block content %}
    <section class="jumbotron text-center">

        <p>
            <img src="{{ photo.url }}" width="600px">
            <br>
            by {{ photo.username }}
        </p>
        <form method="post">

            <textarea cols="50" rows="3" id="content" name="content"></textarea>
            <br>
            <input type="text" value="{{ photo.id }}" name="photo_id" id="photo_id"  hidden>
            <input type="submit" value="Comment" class="btn btn-primary">

        </form>
    <br>
        {% for comment in comments %}
            <p><span class="font-weight-bold">{{ comment.username }}: </span> {{ comment.content }}</p>
        {% endfor %}

    </section>
{% endblock %}

{% block bottomscript %}{% endblock %}
